[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
	branch = MOODLE_311_STABLE
[submodule "blocks/admin_presets"]
	path = blocks/admin_presets
	url = https://github.com/DigiDago/moodle-block_admin_presets.git
	branch = MOODLE_311_STABLE
