[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
	branch = MOODLE_311_STABLE
[submodule "blocks/admin_presets"]
	path = blocks/admin_presets
	url = https://github.com/DigiDago/moodle-block_admin_presets.git
	branch = MOODLE_311_STABLE
[submodule "theme/classic_unitec_std"]
	path = theme/classic_unitec_std
	url = https://github.com/malinz/moodle-theme_classic_unitec_std.git
	branch = master
[submodule "theme/boost_var_01"]
	path = theme/boost_var_01
	url = https://github.com/malinz/boost_var_01.git
	branch = master
