[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
	branch = MOODLE_311_STABLE
[submodule "blocks/admin_presets"]
	path = blocks/admin_presets
	url = https://github.com/DigiDago/moodle-block_admin_presets.git
	branch = MOODLE_311_STABLE
[submodule "theme/classic_unitec_std"]
	path = theme/classic_unitec_std
	url = https://github.com/malinz/moodle-theme_classic_unitec_std.git
	branch = master
[submodule "local/boostnavigation"]
	path = local/boostnavigation
	url = https://github.com/moodleuulm/moodle-local_boostnavigation.git
	branch = MOODLE_311_STABLE
[submodule "local/adminer"]
	path = local/adminer
	url = https://github.com/grabs/moodle-local_adminer.git
	branch = MOODLE_39_STABLE
[submodule "theme/boost_unitec_std"]
	path = theme/boost_unitec_std
	url = https://github.com/malinz/moodle-theme_boost_unitec_std.git
	branch = master
[submodule "theme/classic_var_01"]
	path = theme/classic_var_01
	url = https://github.com/malinz/moodle-theme_classic_var_01
	branch = master
[submodule "theme/boost_var_01"]
	path = theme/boost_var_01
	url = https://github.com/malinz/moodle-theme_boost_var_01.git
	branch = master
[submodule "mod/attendanceregister"]
	path = mod/attendanceregister
	url = https://github.com/CinecaElearning/moodle-mod_attendanceregister.git
	branch = master
[submodule "mod/checklist"]
	path = mod/checklist
	url = https://github.com/davosmith/moodle-checklist.git
	branch = master
